<div id="preloaderEl" style="
        position:fixed;
        top:0;
        left:0;
        width:100vw;
        height:100dvh;
        background:#fff;
        display:flex;
        align-items:center;
        justify-content:center;
        z-index:9999;
    ">
    <div class="spinner"></div>
</div>
<script type="module">
    const preloaderEl = document.getElementById("preloaderEl");
    const rootEl = document.getElementById("root");
    const links = [...document.querySelectorAll('link[rel="stylesheet"]')];
    console.log(rootEl);
    if (!links.length) {
        preloaderEl.remove();
        rootEl.style.display="block";
        console.log(rootEl)
    } else {
        let loadedCount = 0;
        links.forEach(link => {
            if (link.sheet) {
                // Уже загружен
                loadedCount++;
            } else {
                link.addEventListener('load', () => {
                    loadedCount++;
                    if (loadedCount === links.length) {
                        setTimeout(() => preloaderEl.classList.add("hide"), 500);
                        setTimeout(() => preloaderEl.remove(), 1000);
                        rootEl.style.display="block";
                    }
                });
            }
        });
        if (loadedCount === links.length) {
            preloaderEl.remove();
            rootEl.style.display="block";
        }
    }
</script>